body{
    margin:0;
    padding:0;
    background: #F3B3A6;
}
.name{
    width: 100%;
    height: 300px;
    background: #AB4967;
    transform: skewY(-5deg);
}

.name .content{
width: 50%;
height: 50%;
position: absolute; 
left: 20%;
}

.name .content .p1{
    color:white;
    font-family: 'Akaya Telivigala', cursiva;
    font-weight: bolder;
    font-size: 55px;
    transform: skewY(5deg);
    margin-bottom:0;
}

.name .content .p2{
    color:white;
    font-family: 'Akaya Telivigala', cursiva;
    font-weight: bolder;
    font-size: 35px;
    transform: skewY(5deg);
    margin-top: 2;
}
.name .img{
    position: absolute;
    top: 15%;
    right: 5%;
    width: 180px;
    border-radius: 100%;
    transform: skewY(5deg);
    overflow: hidden;
}

.name .img img{
    width: 180px;
    height: 180px;
}

.info{
    width: 90%;
    height: auto;
    background:#AB4967;
    margin: 5% auto;
    padding: 20px;
    border-radius: 2%;
}

.info .tituloseccion{
    color: #fff;
    font-family: 'Baloo Tama 2', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px white dashed;
    margin-top: 0;

}

.info .tituloinfo{
    color: #fff;
    font-family: 'Baloo Tama 2', sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
}

.info .infoinfo{
    color: black;
    font-family: 'Baloo Tama 2', sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
 
}
/*Imagen Estudios*/
.info .img1{
    position: absolute;
    top: 125%;
    right: 5%;
    width: 180px;
    border-radius: 30%;
    transform: skewY(5deg);
    overflow: hidden;
}

.info .img1 img{
    width: 180px;
    height: 180px;
}
/*Imagen Habilidades*/
.info .img2{
    position: absolute;
    top: 171%;
    right: 5%;
    width: 180px;
    border-radius: 30%;
    transform: skewY(5deg);
    overflow: hidden;
}

.info .img2 img{
    width: 180px;
    height: 180px;
}
/*Imagen Hobbys*/
.info .img3{
    position: absolute;
    top: 214%;
    right: 5%;
    width: 180px;
    border-radius: 30%;
    transform: skewY(5deg);
    overflow: hidden;
}

.info .img3 img{
    width: 180px;
    height: 180px;
}
.info .nivel{
    color: white;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}